
mainmenu "PetaLinux System Configuration"
config SUBSYSTEM_TYPE_LINUX
        bool
        default y
        select SYSTEM_ZYNQMP

config SYSTEM_ZYNQMP
        bool "ZYNQMP Configuration"
        help
          ZYNQMP Configuration for petalinux project.
          All these config options will be in /home/jellyfish/Documents/FPGA_Accelerated_Computer_Vision_on_Train_Active_Safety_System/src/xilinx-zcu102-2024.2/project-spec/configs/config

config SUBSYSTEM_VARIANT_ZYNQMPEG
        bool
        default y
        help

config SUBSYSTEM_SDT_FLOW
        bool
        default y
        help

config SUBSYSTEM_DISTRO_PETALINUX
        bool
        default y
        help

source /home/jellyfish/Documents/FPGA_Accelerated_Computer_Vision_on_Train_Active_Safety_System/src/xilinx-zcu102-2024.2/project-spec/configs/configs/Kconfig.main
